extends layouts/default

block content
		section.home-slider
			.container
				.row
					.slider-wrapper
						.slider-main#home-slider
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								.description
									h2 MUA SẮM VỚI INTERNET
									p CUỘC SỐNG VÀ DỊCH VỤ ĐA TIỆN ÍCH
									a(href="#").link MUA NGAY 
								img(src="assets/images/home-slider.jpg" alt="Slider 1")
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								p Slider 2
								img(src="assets/images/home-slider.jpg" alt="Slider 2")
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								p Slider 3
								img(src="assets/images/home-slider.jpg" alt="Slider 3")
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								p Slider 4
								img(src="assets/images/home-slider.jpg" alt="Slider 3")
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								p Slider 5
								img(src="assets/images/home-slider.jpg" alt="Slider 3")
							.slider-item(style="background-image:url('assets/images/home-slider.jpg')")
								p Slider 6
								img(src="assets/images/home-slider.jpg" alt="Slider 3")
						.slider-nav
							#home-slider-nav
								div.slider-control
									img(src="assets/images/slider-control-1.jpg" alt="Slider Control 1")
								div.slider-control
									img(src="assets/images/slider-control-2.jpg" alt="Slider Control 2")
								div.slider-control
									img(src="assets/images/slider-control-3.jpg" alt="Slider Control 3")
								div.slider-control
									img(src="assets/images/slider-control-4.jpg" alt="Slider Control 4")
								div.slider-control
									img(src="assets/images/slider-control-1.jpg" alt="Slider Control 5")
								div.slider-control
									img(src="assets/images/slider-control-2.jpg" alt="Slider Control 6")
		section.about-us-links
			.container
				.row
					.col-xs-12.col-sm-4
						.item
							a(href="#")
								h3 SẢN XUẤT
								.row
									.col-xs-12.col-sm-6
										.description
											p Các sản phẩm Thực phẩm do Công ty sản xuất
									.col-xs-12.col-sm-6
										.icon
											img(src="assets/images/products.png" alt="SẢN XUẤT")
					.col-xs-12.col-sm-4
						.item
							a(href="#")
								h3 HỆ THỐNG BÁN LẺ
								.row
									.col-xs-12.col-sm-6
										.description
											p Cho thuê Văn phòng, Kinh doanh siêu thị, Bất động sản
									.col-xs-12.col-sm-6
										.icon
											img(src="assets/images/stores.png" alt="HỆ THỐNG BÁN LẺ")
					.col-xs-12.col-sm-4
						.item
							a(href="#")
								h3 ĐẠI LÝ PHÂN PHỐI
								.row
									.col-xs-12.col-sm-6
										.description
											p Mạng lưới phân phối sản phẩm từ Bắc tới Nam
									.col-xs-12.col-sm-6
										.icon
											img(src="assets/images/outlet.png" alt="ĐẠI LÝ PHÂN PHỐI")
		section.home-news-block
			mixin newsList
				- var n = 1;
				while n < 5
					article
						img(src="assets/images/news-#{n}.jpg" alt="News #{n}")
						.short-news
							h5 Đề xuất không tăng giá điện, phí giao thông trong năm 2016 
							p Quan điểm được Bộ Kế hoạch & Đầu tư đưa ra sau nhận định cho rằng nguy cơ lạm phát tăng cao tiếp tục tiềm ẩn do giá dầu, lương thực - nông sản phục hồi.
					- n++
			.container
				.row
					.col-xs-12.col-sm-6
						.news
							.title
								h4 Tin thị trường
							#business-news.news-list
								+newsList
								
								
					.col-xs-12.col-sm-6
						.news
							.title
								h4 Tin doanh nghiệp
							#market-news.news-list
								+newsList
		section.brands
			.container
				.title
					h2 HAPRO - HÀNH ĐỘNG VÌ QUYỀN LỢI NGƯỜI TIÊU DÙNG
				.brands-list
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							button#slider-prev(class="slider-arrow slider-prev")
							#brands-slider
								-var n = 1
								while n < 7
									div.brand
										img.img-responsive(src="assets/images/brand-#{n}.jpg" alt="")
									- n++
								-var n = 1
								while n < 7
									div.brand
										img.img-responsive(src="assets/images/brand-#{n}.jpg" alt="")
									- n++
							button#slider-next(class="slider-arrow slider-next")
							

