img {
    @include xs {
        max-width: 100%;
    }
}

body {
    background-color: #e6e7e9;
    border-bottom: 20px solid #7eb539;
}

.navbar-toggle .icon-bar {
    background-color: #333;
}

.collapse.in {
    width: 100%;
}

.page-header {
    border: medium none;
    margin: 0;
    padding: 0;
    position: relative;
    .page-title {
        margin-top: 0;
    }
    img {
        width: 100%;
    }
    .page-header-text {
        z-index: 2;
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 20px;
        text-transform: uppercase;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
    }
}

.entry-header {
	.entry-title {
		font-size: 20px;
	}
}
#breadcrumbs{
    list-style:none;
    margin:10px  0 20px;
    overflow:hidden; padding: 0;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
    color: #7d8fa5;
    strong {
    	font-weight: 300;
    }
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}
.more {
	background: #48ad4d;
	color: white;
	float: right;
	padding: 2px 10px;
	margin: 10px 0 0 ;
	text-transform: capitalize;
	&:hover {
		opacity:0.9;
		text-decoration: none;
		color: white;
	}
}
.category-grid {
	background: white;
	padding: 20px;
	.entry-header {
    min-height: 78px;
}
	.entry-content {
    min-height: 150px;
}
	.page-title {
		color:#59595b;
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #b3d5c5;
	}
	.post {
		margin: 0 0 50px;
	}
}
.pagination {
	  clear: both;
    float: right;
    font-size: 0;
    width: auto;
	.screen-reader-text,.next ,.prev {
		display: none!important;
	}
	.page-numbers{	border: 1px solid #dcdddf;
		width: 35px;
		height: 35px;
		line-height: 35px;
		color: #333;
		text-align: center;
		font-size: 14px;
		margin: 5px 2px;
		display: inline-block;
		background-color: #f5f6fa;
		&.current {
			background-color: #41ac4c;
			color: white;
			border-color:  #41ac4c;
		}
	}

}
.page-detail {
	background: white;
	padding: 20px;
	.entry-header {
		margin-bottom: 30px;
		& > .meta-header > span {
			margin-right: 10px;color: #999999;
			a {
				color: #999999;
			}
		}
	}
	.page-title {
		color:#59595b;
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #b3d5c5;
	}
}
.post-navigation { 
	margin: 50px 0;
	h2 {color:#59595b;
		margin: 0 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #b3d5c5;}
	
}
.page-header {
	background: url(../images/banner-category.jpg) no-repeat top center;
	min-height: 157px;
	background-size: cover;
}