nav.navbar{
	border: 0px;
	margin-bottom: 0px;
	background-color: $nav-default;
	border-radius: 0px;
	font-family: $VNF-Futura;
	.navbar-toggle{
		background-color: $white;
	}
	.navbar-collapse {
		.navbar-nav{
			width: 100%;
			> li {
				width: calc(100% / 6);
				a{
					color: $white;
					text-align: center;
					font-size: 16px;
					text-transform: uppercase;
					&:hover{
						background-color: $nav-hover;   
					}
					&:focus{
						background-color: $nav-hover;   
					}
					
				}
			}
		}
	}
	ul{
		list-style: none;   
	}
}