head
	meta(charset='utf-8')
	meta(name='description' content='')
	meta(name='X-UA-Compatiable' cotent='IE=Edge')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
	link(rel="shortcut icon", href="images/favicon.ico" type="image/x-icon")
	title Homepage
	// Place favicon.ico and apple-touch-icon.png in the root directory

	// build:css assets/css/vendor.css
	link(rel='stylesheet' href='../bower_components/slick-carousel/slick/slick.css')
	// bower:css
	// endbower
	// endbuild

	// build:css assets/css/main.css
	link(rel='stylesheet' href='assets/css/main.css')
	// endbuild

	//Google fonts
	link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')

	// build:js assets/js/modernizr.js
	script(src='../bower_components/modernizr/modernizr.js')
	// endbuild
include ../includes/mixins.jade