// Google Analytics: change UA-XXXXX-X to be your site's ID.
script.
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');

// build:js assets/js/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
// endbower
// endbuild

// build:js assets/js/plugins.js
script(src='../bower_components/Swiper/dist/js/swiper.jquery.min.js')
// endbuild

// build:js assets/js/main.js
script(src='assets/js/main.js')
script(src='assets/js/fire.js')
// endbuild