footer.footer
	.container
		.row
			.footer-wrapper
				.col-md-6.col-xs-12.right-side
					ul.no-bullet.list-social-footer
						li Follow us
						li
							a(href="https://www.instagram.com/westpacyourrace/", title="", target="_blank")
								img(src="images/icon-insta.png", alt='')
						li
							a(href="https://www.facebook.com/Westpac", title="", target="_blank")
								img(src="images/icon-fb.png", alt='')
						li
							a(href="https://twitter.com/westpac", title="", target="_blank")
								img(src="images/icon-tw.png", alt='')
				.col-md-6.col-xs-12
					ul.no-bullet.list-info-footer
						li
							a(href="#", title="").logo-footer
								img(src="images/logo-funrun.png", alt='Logo')
						li @ Westpac 2016
						li
							a(href="#", title="").link-terms Terms & Conditions
				