footer.footer
	.container
		.row.footer-wrapper
				.col-xs-12
					.footer-logo
						img(src="assets/images/footer-logo.png" alt="Footer Logo") 
				.col-xs-12.col-sm-4
					.footer-block
						nav.footer-links.block-list
							ul
								li
									a(href="#") Sitemap
								li
									a(href="#") Contact
								li
									a(href="#") Policy
								li
									a(href="#") Career
								li
									a(href="#") News&Event

				.col-xs-12.col-sm-4
					.footer-block
						address.contact-address.block-list
							ul
								li
									div.custom-col.icon   
										img.img-responsive(src="assets/images/ico-home.png" alt="")
									div.custom-col.info
										span Tran Nhat Duat, Hoan Kiem, Ha Noi, Viet Nam
								li
									div.custom-col.icon  
										img.img-responsive(src="assets/images/ico-phone.png" alt="")
									div.custom-col.info
										a(href="tel:+84-4 3754 9999") +84-4 3754 9999
								li
									div.custom-col.icon 
										img.img-responsive(src="assets/images/ico-fax.png" alt="")
									div.custom-col.info
										span +84-4 3754 9999
								li
									div.custom-col.icon 
										img.img-responsive(src="assets/images/ico-mail.png" alt="")
									div.custom-col.info
										a(href="mailto:thucphamhanoi@gmail.com") thucphamhanoi@gmail.com
				.col-xs-12.col-sm-4
					.footer-block
						.follow-us-contact
							.follow-us
								label Follow us 
								ul
									li
										a(href="#")
											img(src="assets/images/icon-links.png")
									li
										a(href="#")
											img(src="assets/images/icon-twitter.png")
									li
										a(href="#")
											img(src="assets/images/icon-yahoo.png")
									li
										a(href="#")
											img(src="assets/images/icon-facebook.png")
									li
										a(href="#")
											img(src="assets/images/icon-youtube.png")
									li
										a(href="#")
											img(src="assets/images/icon-social.png")
									li
										a(href="#")
											img(src="assets/images/icon-skype.png")
							.contact
								label Đăng ký nhận thông tin
								input.form-control(type="email", placeholder="Email của bạn")

				