header.header
	.container
		.row
			.header-direction
				.logo
					a(href="#", title="Logo")
						img(src="images/logo-funrun.png", alt="Logo funrun")
				nav
					ul.no-bullet.main-menu
						li.menu-item
							a(href="#", title="") Fun Runs
							ul.no-bullet.sub-menu
								li.sub-menu-item
									a(href="#brisbane", title="") Brisbane
								li.sub-menu-item
									a(href="#perth", title="") Perth
								li.sub-menu-item
									a(href="#sydney", title="") Sydney
								li.sub-menu-item
									a(href="#canberra", title="") Canberra
								li.sub-menu-item
									a(href="#adelaide", title="") Adelaide
								li.sub-menu-item
									a(href="#melbourne", title="") Melbourne
							.expand-sub
						li.menu-item
							a(href="#", title="") GIF Gallery
						li.menu-item
							a(href="#", title="") Race Face Photo
			.header-visit-box
				a(href="#", title="")
					span Visit
					| westpac.com.au
			#nav-icon3
				span
				span
				span
				span