header.header
	.container
		.row
			.col-xs-12
				.top-links
					ul.clearfix
						li.language
							span.lang-ico.vn-lang Tiếng Việt
							ul
								li 
									a.lang-ico.vn-lang(href="#") Tiếng Việt
								li
									a.lang-ico.en-lang(href="#") Englist
						li
							a(href="#") Tuyển dụng
						li
							a(href="#") Liên hệ
			.header-bottom
				.col-xs-12.col-sm-6
					.logo
						h1
							a(href="#", title="Logo")
								img.img-responsive(src="assets/images/logo.png" alt="Hapro Logo")
				.col-xs-12.col-sm-6
					.search-box
						form(role="search" method="get" class="search-form" action="")
							.form-group
								input(type="search" class="form-control search-field" placeholder="Tìm kiếm" value="" name="s" title="Tìm kiếm" )
								button(type="submit" class="search-submit" value="")
									i(class="fa fa-search" aria-hidden="true")

					
			