nav.navbar
	.container
		.navbar-header
			button(data-target=".mobile-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			nav.mobile-navbar-collapse.collapse
				span.icon-cross
				.navbar-box
					ul.nav.navbar-nav
						li 
							a(href="#") Trang chủ
						li 
							a(href="#") Giới thiệu 
						li 
							a(href="#") Quan hệ cổ đông
						li 
							a(href="#") Sản xuất 
						li.parent-menu
							a(href="#") Hệ thống bán lẻ
							ul.dropdown-menu.sub-menu
								li 
									a(href="#") Sub menu 1
								li 
									a(href="#") Sub menu 1
						li 
							a(href="#") Đại lý phân phối
		nav.navbar-collapse.bs-navbar-collapse.collapse 
			ul.nav.navbar-nav
				li 
					a(href="#") Trang chủ 
				li 
					a(href="#") Giới thiệu 
				li 
					a(href="#") Quan hệ cổ đông
				li 
					a(href="#") Sản xuất 
				li.parent-menu
					a.dropdown-toggle(href="#",data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Hệ thống bán lẻ
					ul.dropdown-menu.sub-menu
						li 
							a(href="#") Sub menu 1
						li 
							a(href="#") Sub menu 1
				li 
					a(href="#") Đại lý phân phối